doctype html

block vars
  - var title = 'Find and Compare Clinicians'
  - var description = "National Provider Identifier (NPI) tool and API to search and compare clinitians. Open source, high performance, and updated weekly from the National Plan & Provider Enumeration System\'s (NPPES) NPI registry"

html
  head
    title BloomAPI: #{title}
    link(rel='stylesheet',href='/css/style.css')
    script(type='text/javascript',src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript',src='/js/index.js')
    meta(http-equiv='Content-Type',content='text/html; charset=UTF-8')
    meta(name='description',content='#{description}')
  body
    block content
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{ga_tracking_id}', '#{ga_domain}');
      ga('send', 'pageview');
