extends subpage

block vars
  - var title = 'Search'
  - var description = 'Search all National Provider Identifier (NPI) data by last name, full name, zip code, address, or NPI'
  - var tab = 'search'

block subContent
  .row-skipnav
    .search
      form
        input(type='text',id='query',placeholder='search by last name, full name, zip code, address, or NPI',value='#{term}')
        i.icon-search
        span
          a(href='#',id='search') search
  .row
    if entries
      div
        p
          code(style='padding-left: 10px;') #{apiuri}
        ul.search-results
          each entry in entries
            a(href='/npis/#{entry.npi}?retTerm=#{term}&retPage=#{currentPage}')
              li
                if entry.last_name
                  .name #{entry.last_name}, #{entry.first_name}
                else
                  .name #{entry.business_name}
                .phone #{entry.practice_address.phone}
                .address #{entry.practice_address.address_line}, #{entry.practice_address.city}, #{entry.practice_address.state} #{entry.practice_address.zip}
        .pages.search-results
          each page in pages
            if page == currentPage
              strong #{page}&nbsp;
            else if page == "..."
              span ...&nbsp;
            else
              a(href='/search/#{term}/#{page}') #{page}&nbsp;
    else
      p.error Sorry, we didn't understand your query
